html,
body {
  background: #f2f2f2;
  display: block;
}
.Installment-banner {
  width: 100%;
  max-width: 7.5rem;
  background: url('../images/banner.png') no-repeat center;
  height: 2.8rem;
  background-size: 7.5rem 2.8rem;
  margin-bottom: .24rem;
}
.Installment {
  background: #fff;
  width: 100%;
  max-width: 7.5rem;
}
.Installment .Installment-title {
  font-size: .3rem;
  color: #333333;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #f0f0f0;
  font-weight: bold;
  text-indent: .3rem;
}
.Installment .Installment-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 7.5rem;
}
.Installment .Installment-menu dl {
  width: 33.3333%;
}
.Installment .Installment-menu dl dt {
  width: .9rem;
  height: .9rem;
  margin: 0 auto;
  margin-top: .42rem;
  margin-bottom: .16rem;
  background: url('../images/apply.png') no-repeat center;
  background-size: .9rem .9rem;
}
.Installment .Installment-menu dl dd {
  font-size: .26rem;
  color: #333333;
  text-align: center;
  padding-bottom: .42rem;
}
.Installment .Installment-menu dl:nth-child(2) dt {
  background: url('../images/Borrowing.png') no-repeat center;
  background-size: .9rem .9rem;
}
.Installment .Installment-menu dl:nth-child(3) dt {
  background: url('../images/IntoA.png') no-repeat center;
  background-size: .9rem .9rem;
}
.Installment .Installment-menu dl:nth-child(4) dt {
  background: url('../images/IntoA.png') no-repeat center;
  background-size: .89rem .89rem;
}
.Installment .Installment-menu dl:nth-child(4) dt {
  background: url('../images/IntoA.png') no-repeat center;
  background-size: .89rem .89rem;
}
.shName-title {
  padding-top: .2rem;
  padding-bottom: .2rem;
  position: fixed;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.shName-title span {
  color: #fff;
  font-size: .24rem;
}
.shName-title em {
  background: url('../images/more.png') no-repeat center center;
  width: .19rem;
  height: .1rem;
  background-size: .19rem .1rem;
  display: inline-block;
  margin-left: .1rem;
}
.applyFor-seach {
  background: #fff;
  height: 1.1rem;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}
.applyFor-seach .seach {
  width: 7.18rem;
  height: .7rem;
  border-radius: .1rem;
  border: 1px solid #ebebeb;
  margin-left: .16rem;
  margin-top: .2rem;
  display: inline-block;
  box-sizing: border-box;
  background: #f2f2f2;
  color: #999999;
  font-size: .3rem;
  line-height: .7rem;
  position: relative;
}
.applyFor-seach .seach .seach-ul {
  display: none;
  position: absolute;
  width: 3.2rem;
  height: 1.62rem;
  background: url('../images/seacg-list.png') no-repeat;
  background-size: 3.2rem 1.62rem;
  top: .7rem;
  left: .5rem;
  z-index: 99;
}
.applyFor-seach .seach .seach-ul li {
  height: .7rem;
  line-height: .7rem;
  color: #cbcaca;
  font-size: .28rem;
  text-indent: .7rem;
}
.applyFor-seach .seach .seach-ul li a {
  color: #cbcaca;
}
.applyFor-seach .seach .seach-ul li:nth-child(1) {
  margin-top: .2rem;
}
.applyFor-seach .seach .seach-list-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .3rem;
  float: left;
}
.applyFor-seach .seach .seach-list-left span {
  font-size: .3rem;
  color: #999999;
}
.applyFor-seach .seach .seach-list-left em {
  width: .16rem;
  height: .11rem;
  display: inline-block;
  background: url('../images/dow.png') no-repeat center;
  background-size: .16rem .11rem;
  margin-left: .1rem;
}
.applyFor-seach .seach .seach-list-right {
  width: 4rem;
  height: 100%;
  background: #f2f2f2 url('../images/seach.png') no-repeat left center;
  text-indent: .35rem;
  border: none;
  background-size: .3rem .3rem;
  margin-left: .25rem;
}
.applyFor-seach .seach .seach-btn {
  display: inline-block;
  width: 1rem;
  text-align: center;
  color: #1099e8;
  border: none;
  background: none;
  height: 100%;
  font-size: .3rem;
}
.swiper-container {
  height: .9rem;
  background: #fff;
  width: 100%;
}
.swiper-container .swiper-wrapper {
  height: .9rem;
}
.swiper-container .swiper-wrapper .swiper-slide {
  line-height: .9rem;
  text-align: center;
  font-size: .28rem;
  color: #333333;
}
.swiper-container .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #333333;
}
.swiper-container .swiper-wrapper .current a {
  color: #1099e8;
}
.swiper-container .swiper-wrapper .current:before {
  content: "";
  position: absolute;
  width: .4rem;
  height: .06rem;
  background: #1099e8;
  left: 50%;
  margin-left: -0.2rem;
  bottom: 0;
}
.content_box .loan {
  width: 100%;
  overflow: hidden;
  display: none;
}
.content_box .loan:first-child {
  display: block;
}
.content_box .loan .loan_list {
  background: #fff;
  margin-top: .2rem;
}
.content_box .loan .loan_list .loan_list_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: .94rem;
  border-bottom: .02rem solid #E3E4EA;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content_box .loan .loan_list .loan_list_top p span {
  padding-left: .15rem;
}
.content_box .loan .loan_list .loan_list_top p:nth-child(1) {
  font-size: .32rem;
  color: #333333;
  line-height: .94rem;
  padding-left: .3rem;
}
.content_box .loan .loan_list .loan_list_top p:nth-child(2) {
  padding-right: .3rem;
  font-size: .32rem;
  color: #1099e8;
  line-height: .94rem;
}
.content_box .loan .loan_list ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.content_box .loan .loan_list ul li {
  width: 46%;
  padding-left: .3rem;
  padding-top: .2rem;
  font-size: .3rem;
  color: #666666;
}
.content_box .loan .loan_list ul li span {
  font-size: .3rem;
  color: #333333;
  padding-left: .15rem;
}
.content_box .loan .loan_list ul li:nth-child(2) {
  text-align: right;
  padding-right: .3rem;
  padding-top: .4rem;
  padding-left: 0;
}
.content_box .loan .loan_list ul li:nth-child(4) {
  text-align: right;
  padding-right: .3rem;
  padding-left: 0;
}
.content_box .loan .loan_list ul li:nth-child(6) {
  text-align: right;
  padding-right: .3rem;
  padding-left: 0;
}
.content_box .loan .loan_list ul li:last-child {
  padding-bottom: .36rem;
}
.content_box .loan .loan_list ul li:first-child {
  padding-top: .4rem;
}
.content_box .loan-yifang .loan_list_top p em {
  width: .18rem;
  height: .29rem;
  background: url('../images/help-right.png') no-repeat center;
  background-size: .18rem .29rem;
  display: inline-block;
  margin-left: .2rem;
}
.content_box .loan-yifang .loan_list_top p label {
  margin-left: .1rem;
}
.content_box .loan-yifang .loan_list ul li.overdue span {
  color: red;
}
.content_box .loan-yifang p.btn-loan-box {
  height: .94rem;
  border-top: 1px solid #E3E4EA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.content_box .loan-yifang p.btn-loan-box .btn-loan {
  margin-right: .3rem;
  display: inline-block;
  background: #fff;
  width: 1.2rem;
  color: #1099e8;
  border: 1px solid #1099e8;
  border-radius: .05rem;
  font-size: .24rem;
  height: .5rem;
}
.content_box .loan-huanqing .loan_list_top p em {
  width: .18rem;
  height: .29rem;
  background: url('../images/help-right.png') no-repeat center;
  background-size: .18rem .29rem;
  display: inline-block;
  margin-left: .2rem;
}
.content_box .loan-huanqing .loan_list_top p label {
  margin-left: .1rem;
}
.content_box .loan-cancel .loan_list ul li:last-child {
  display: block;
  width: 100%;
  text-align: left;
  padding-left: .3rem;
}
.loan .loan_list .loan_bottom {
  height: .94rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E3E4EA;
  box-sizing: border-box;
}
.loan .loan_list .loan_bottom p {
  margin-right: .3rem;
}
.loan .loan_list .loan_bottom p button {
  display: inline-block;
  background: #fff;
  width: 1.2rem;
  color: #1099e8;
  border: 1px solid #1099e8;
  border-radius: .05rem;
  font-size: .24rem;
  height: .5rem;
}
.loan .loan_list .loan_bottom p .back-btn {
  margin-right: .3rem;
}
.autonym-title {
  width: 100%;
  height: .68rem;
  background: #fdf2e5;
  color: #f08300;
  font-size: .26rem;
  line-height: .68rem;
  text-indent: .42rem;
}
.autonym-list {
  width: 100%;
  height: 2rem;
  margin-top: .2rem;
}
.autonym-list li {
  width: 6.9rem;
  height: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.autonym-list li input {
  width: 4.98rem;
  border: none;
  font-size: .3rem;
  color: #999999;
  margin-top: .26rem;
}
.autonym-list li label {
  font-size: .3rem;
  color: #333333;
  margin-top: .54rem;
}
.autonym-err {
  margin-left: .3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  color: red;
  font-size: .3rem;
  margin-top: .2rem;
}
.autonym-btn,
.RealName-btn {
  width: 6.9rem;
  height: .9rem;
  line-height: .9rem;
  background: #1099e8;
  color: #fff;
  font-size: .32rem;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: .9rem;
}
.inviteCode-title {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  color: #dcf8ff;
  text-align: center;
  font-size: .24rem;
}
.inviteCode-code {
  width: 6.9rem;
  height: 7.12rem;
  margin: 0 auto;
  border-radius: .05rem;
  background: #fff;
  box-shadow: 0px 0px 14px #006fb9;
}
.inviteCode-code h6.inviteCode-code-title {
  width: 100%;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  background: #f2f7fa;
  font-size: .32rem;
  color: #333333;
  border-top-left-radius: .05rem;
  border-top-right-radius: .05rem;
}
.inviteCode-code .inviteCode-code-img dt {
  display: block;
  width: 3.9rem;
  margin: 0 auto;
  height: 3.9rem;
  margin-top: .58rem;
  margin-bottom: .2rem;
}
.inviteCode-code .inviteCode-code-img dt img {
  width: 3.9rem;
  height: 3.9rem;
}
.inviteCode-code .inviteCode-code-img dd {
  text-align: center;
}
.inviteCode-code .inviteCode-code-img dd p {
  color: #f08300;
  font-size: .28rem;
}
.inviteCode-code .inviteCode-code-img dd p em {
  display: inline-block;
  width: .22rem;
  height: .22rem;
  background: url('../images/refresh.png') no-repeat center;
  background-size: .22rem .22rem;
  margin-right: .04rem;
}
.inviteCode-code .inviteCode-code-img dd p:first-child {
  margin-bottom: .12rem;
}
.inviteCode-hint {
  text-align: center;
  font-size: .32rem;
  color: #dcf8ff;
  margin-top: .5rem;
}
.EnterCode-code {
  width: 6.9rem;
  height: 7.12rem;
  border-radius: .05rem;
  background: #fff;
  box-shadow: 0px 0px 14px #006fb9;
  position: absolute;
  top: .6rem;
  left: 50%;
  margin-left: -3.45rem;
}
.EnterCode-code h6.EnterCode-code-title {
  width: 100%;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  background: #f2f7fa;
  font-size: .32rem;
  color: #333333;
  border-top-left-radius: .05rem;
  border-top-right-radius: .05rem;
}
.EnterCode-code .EnterCode-code-img dt {
  display: block;
  width: 3.9rem;
  margin: 0 auto;
  height: 3.9rem;
  margin-top: .58rem;
  margin-bottom: .2rem;
}
.EnterCode-code .EnterCode-code-img dt img {
  width: 3.9rem;
  height: 3.9rem;
}
.EnterCode-code .EnterCode-code-img dd {
  text-align: center;
  color: #f08300;
  margin-top: .38rem;
  font-size: .28rem;
}
.EnterCode-hint {
  width: 100%;
  text-align: center;
  font-size: .32rem;
  position: absolute;
  top: 8rem;
  left: 0;
  color: #dcf8ff;
}
.help {
  width: 6.78rem;
  margin: 0 auto;
}
.help h6.help-title {
  display: inline-block;
  font-size: .36rem;
  color: #333333;
  margin-top: .44rem;
  margin-bottom: .1rem;
}
.help .help-message {
  color: #0081cc;
  font-size: .24rem;
  margin-bottom: .44rem;
}
.help .help-message span {
  font-size: .24rem;
  color: #999999;
  margin-left: .24rem;
}
.help .help-text {
  line-height: .42rem;
  font-size: .28rem;
  color: #666666;
}
.seach-help-box {
  background: #f2f2f2;
}
.seach-help-box .seach-help {
  background: #ffffff url('../images/seach.png') no-repeat center center;
  background-size: .3rem .3rem;
  background-position-x: 3.08rem;
}
.help-list {
  width: 100%;
  background-color: #fff;
}
.help-list li {
  height: 1rem;
  width: 7.14rem;
  margin-left: .36rem;
  border-bottom: 1px solid #f0f0f0;
  line-height: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.help-list li span {
  font-size: .3rem;
  color: #333333;
}
.help-list li em {
  background: url('../images/help-right.png') no-repeat center;
  width: .18rem;
  height: .29rem;
  background-size: .18rem .29rem;
  display: inline-block;
  margin-right: .36rem;
}
.SelectStores {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.SelectStores .SelectStores-ul {
  width: 3.1rem;
  height: 100%;
  border-right: 1px solid #E2E2E2;
}
.SelectStores .SelectStores-ul li {
  line-height: 1.2rem;
  border-bottom: 1px solid #E2E2E2 ;
  width: 100%;
  font-size: .32rem;
  color: #333333;
  text-align: center;
}
.SelectStores .SelectStores-ul li.current {
  color: #2975FF;
  border-right: 1px solid #fff;
}
.SelectStores .SelectStores-list {
  width: 4.39rem;
}
.SelectStores .SelectStores-list ul {
  width: 100%;
  display: none;
}
.SelectStores .SelectStores-list ul li {
  line-height: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  font-size: .32rem;
  color: #333333;
  text-align: center;
}
.SelectStores .SelectStores-list ul:first-child {
  display: block;
}
.SelectStores .SelectStores-list ul:first-child li:first-child {
  border-left: none;
}
.h-error {
  width: 4rem;
  height: 2.4rem;
  position: fixed;
  left: 50%;
  margin-left: -2rem;
  top: 50%;
  margin-top: -1.2rem;
}
.h-error dt {
  width: 2.14rem;
  height: 1.5rem;
  background: url('../images/fail.png') no-repeat center;
  margin: 0 auto;
  background-size: 2.14rem 1.5rem;
}
.h-error dd {
  text-align: center;
  font-size: .3rem;
  color: #333333;
  margin-top: .2rem;
}
.bx_list {
  width: 100%;
}
.bx_list ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bx_list ul .com_2 {
  width: 49%;
  background: #fff;
  margin-top: .22rem;
  height: 2.18rem;
  margin-right: 1%;
}
.bx_list ul .com_3 {
  width: 49%;
  background: #fff;
  margin-top: .22rem;
  height: 2.18rem;
  margin-left: 1%;
}
.bx_list ul .com_3 dl {
  width: 100%;
}
.bx_list ul .com_3 dl dt {
  background: url("../images/baodan.png") no-repeat center;
  width: .89rem;
  height: .89rem;
  background-size: .89rem .89rem;
  margin: 0 auto;
  margin-top: .4rem;
  margin-bottom: .22rem;
}
.bx_list ul .com_3 dl dd {
  text-align: center;
  color: #333333;
  font-size: .32rem;
}
.bx_list ul .com_2 dl {
  width: 100%;
}
.bx_list ul .com_2 dl dt {
  background: url("../images/bx.png") no-repeat center;
  width: .89rem;
  height: .89rem;
  background-size: .89rem .89rem;
  margin: 0 auto;
  margin-top: .4rem;
  margin-bottom: .22rem;
}
.bx_list ul .com_2 dl dd {
  text-align: center;
  color: #333333;
  font-size: .32rem;
}
.btn {
  width: 90%;
  background: #e6901f;
  height: .9rem;
  display: block;
  margin: 0 auto;
  border: none;
  color: #fff;
  border-radius: .08rem;
  font-size: .32rem;
  position: fixed;
  bottom: .8rem;
  left: 50%;
  margin-left: -45%;
}
.dropload-down {
  width: 100%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: .3rem;
}
